 @import "tailwindcss";
/* * { */
  /* @apply transition-colors duration-300; */
/* } */
 @layer base{
     html{
        scroll-behavior: smooth;
     }
 }
 ::-webkit-scrollbar{
    display: none;
 }
